h2 {
  text-align: center;
  padding: 10px;
}
.inventory-grid {
  display: flex;
}
.inventory {
  border: 5px solid yellow;
  font-size: 1.5em;
  margin: 5px;
  padding: 20px;
}
.inventory-container {
  box-sizing: border-box;
  border-radius: 15px;
  background-color: black;
  width: 225px;
  margin: 0 25px 25px 0;
  vertical-align: top;
}
.inventory-list {
  box-sizing: border-box;
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  background-color: black;
}
.inventory-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: gray;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background-color: black;
  font-size: 14px;
}
.inventory-destination {
  height: 200px;
}
