<div class="room background" *ngIf="currentRoom">
  <div class="room-contents">
    <div class="location">Location (<span id="currentRoomId">{{ currentRoom.id }}</span>)</div>
    <div class="room-description">{{currentRoom.desc}}</div>
  </div>
  <div class="grid">
    <mat-grid-list cols="3" rowHeight="2:1" class="roomtest">
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile [ngClass]="{'exit-north exit': hasExit(direction.North) }" (click)="nav(direction.North)">
        <span class="material-icons" *ngIf="hasExit(direction.North)">north</span>
      </mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile [ngClass]="{'exit-west exit': hasExit(direction.West) }" (click)="nav(direction.West)">
        <span class="material-icons" *ngIf="hasExit(direction.West)">west</span>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="exits">
          <span>Choose a direction</span>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [ngClass]="{'exit-east exit': hasExit(direction.East) }" (click)="nav(direction.East)">
        <span class="material-icons" *ngIf="hasExit(direction.East)">east</span>
      </mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile [ngClass]="{'exit-south exit': hasExit(direction.South) }" (click)="nav(direction.South)">
        <span class="material-icons" *ngIf="hasExit(direction.South)">south</span>
      </mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
    </mat-grid-list>  
  </div>
  <inventory [roomContents]="currentRoom.items"></inventory>
</div>
