<div>
  <h1>kevin game!</h1>
  <div>blah blah blah</div>

<div>
  </div>
  <div>
    <div>Directions</div>
    <div><button>North</button></div>
    <div>South</div>
    <div>East</div>
    <div>West</div>
  </div>
  <div><b>Rooms:</b> {{ rooms | json }}</div>
  <div><b>Current Room:</b> {{ currentRoom | json }}</div>
  <div><b>Location: </b><span id="currentRoomId">{{ currentRoom.id }}</span></div>
</div>
<form>
  <mat-form-field appearance="fill">
    <mat-label>Command</mat-label>
    <input type="text" matInput [formControl]="commandControl" [errorStateMatcher]="matcher"
           placeholder="Ex: inventory">
    <mat-hint>Your command.</mat-hint>
    <mat-error *ngIf="!commandControl.hasError('required')">
      Command not valid.
    </mat-error>
    <mat-error *ngIf="commandControl.hasError('required')">
      Command is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <button mat-button (click)="go()">Go</button>
</form>
